# Ignore BrainFlow build folders
**/brainflow/
**/brainflow_build/
**/brainflow_generated/

# Ignore MindsAI.dll in Python and C# projects
python/MindsAI.dll
csharp/MindsAI.dll

# Ignore Python build artifacts
__pycache__/
*.pyc
.env/

# Ignore C# build outputs
csharp/**/bin/
csharp/**/obj/
*.user
*.suo

# Visual Studio folder settings
.vscode/
.vs/